.privacy {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 12px 36px;
  overflow: hidden;
  z-index: 10;
  background: url('../../assets/img/lobby/lobby-bg.jpg') no-repeat center center / cover;
}

.privacy__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  background: linear-gradient(180deg, #EBFF00 0%, #FFA800 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.privacy__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.privacy__text {
  max-width: 1300px;
  max-height: 80vh;
  display: inline-block;
  overflow: auto;
  margin-right: 10px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.privacy__text::-webkit-scrollbar {
  display: none;
}

.privacy__button {
  width: 119px;
  height: 46px;
  padding: 11px 27px;
  background: linear-gradient(180deg, #70FF00 0%, #BD00FF 0.01%, #005484 100%);
  border: 1px solid #00A3FF;
  box-shadow: 0px 4px 4px rgba(36, 255, 0, 0.27), inset 0px -6px 4px rgba(0, 163, 255, 0.26), inset 0px 4px 4px rgba(255, 247, 207, 0.65);
  border-radius: 11px;
}

.lobby__games-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby__games-list {
  width: 990px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  gap: 20px;
  overflow-x: scroll;
}

.lobby__games-list::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}

.lobby__games-list::-webkit-scrollbar-thumb {
  background-color: rgba(102, 102, 144, 0.662);
  border-radius: 5px;
}

.lobby__game-item {
  flex-shrink: 0;
}

.lobby__game-button {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.lobby__game-img {
  width: 182px;
  height: 182px;
  user-select: none;
  pointer-events: none;
}